name: Master

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  accessibility:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Create configs.js
        run: |
          cp configs.sample.js configs.js

      - name: Install Deno
        uses: denolib/setup-deno@v2

      - name: Accessibility Tests
        run: |
          yarn install
          yarn webpack:development
          yarn ad pa11y
          yarn server &
          sleep 10
          node_modules/.bin/pa11y --ignore "WCAG2AA.Principle1.Guideline1_4.1_4_3.G18.Fail" http://localhost:1445
          node_modules/.bin/pa11y --ignore "WCAG2AA.Principle1.Guideline1_4.1_4_3.G18.Fail" http://localhost:1445/drash

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Deno
        uses: denolib/setup-deno@v2

      - name: Server Integration Tests
        run: |
          cp configs.sample.js configs.js
          yarn install
          yarn webpack:development
          yarn server &
          sleep 10
          deno test -A tests/integration

  docker_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Deno
        uses: denolib/setup-deno@v2

      - name: Build docker image
        run: |
          cp configs.sample.js configs.js
          yarn docker:build-production

      - name: Start docker container and run tests
        run: |
          docker run --detach --rm --name website --publish 1445:1445 drashland-website
          deno test -A tests/docker

  pre-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test Updating Module Versions Script Doesnt Fail
        run: |
          node console/update_module_versions.js \
            --module drash \
            --version release-v1.0.0

  builds:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Create configs.js
        run: |
          cp configs.sample.js configs.js

      - name: Install Deno
        uses: denolib/setup-deno@v2

      - name: Install Node Modules
        run: |
          yarn install

      - name: Compiling Vue Routes Works
        run: |
          yarn compile:vue-routes

      - name: Creating Drash API Reference Works
        run: |
          git clone https://github.com/drashland/deno-drash  ../deno-drash
          yarn compile:drash-v1.x-api-reference

      - name: Bundling Frontend Works For Development
        run: |
          yarn webpack:development

      - name: Bundling Frontend Works For Production
        run: |
          yarn webpack:production

      - name: Our Drash Server Works And Compiles
        run: |
          echo "server.close()" >> app.ts
          deno run -A app.ts

  linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Create configs.js
        run: |
          cp configs.sample.js configs.js

      - name: Install Deno
        uses: denolib/setup-deno@v2

      - name: Formatter
        # for dev: deno fmt --ignore=assets,console/compile_vue_routes.js,configs.webpack.js,console/update_module_versions.js,configs.node.js,ecosystem.config.sample.js,node_modules,configs.js
        run: deno fmt --ignore=assets,console/compile_vue_routes.js,configs.webpack.js,console/update_module_versions.js,configs.node.js,ecosystem.config.sample.js

      - name: Linter
      # command to use in dev (if you've ran builds and created compiled files): deno lint --unstable --ignore=assets,console/compile_vue_routes.js,configs.webpack.js,console/update_module_versions.js,configs.js,configs.node.js,ecosystem.config.sample.js,configs.webpack.common.js,configs.webpack.development.js,ecosystem.config.js,node_modules,src/modules/drash-v1.x/router.js,src/modules/dmm-v1.x/router.js,src/modules/rhum-v1.x/router.js,src/modules/wocket-v0.x/router.js,src/modules/sinco-v1.x/router.js,configs.webpack.production.js,src/modules/drash-v1.x/app.js,src/modules/sinco-v2.x/router.js
        run: deno lint --unstable --ignore=assets,console/compile_vue_routes.js,configs.webpack.js,configs.webpack.production.js,console/update_module_versions.js,configs.js,configs.node.js,ecosystem.config.sample.js,configs.webpack.common.js,configs.webpack.development.js,configs.production.webpack.js,src/modules/drash-v1.x/app.js,src/modules/drash-v1.x/router.js,src/modules/dmm-v1.x/router.js,src/modules/rhum-v1.x/router.js,src/modules/wocket-v0.x/router.js,src/modules/sinco-v1.x/router.js,src/modules/sinco-v2.x/router.js,src/modules/line-v1.x/router.js,src/modules/line-v1.x/router.js
